<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonstone.ezmaps_app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgYjlRPB5JtQs4OISpPl3RO7oKxgKKMZs" />

        <!-- Main Activity -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FrontPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>

                <!-- Google Search -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.ezmaps.com/frontpage” -->
                <data
                    android:host="www.ezmaps.com"
                    android:pathPrefix="/frontpage"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "ezmaps://frontpage” -->
                <data
                    android:host="frontpage"
                    android:scheme="ezmaps" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLoginActivity"
            android:screenOrientation="portrait" />



        <!-- Contacts -->
        <activity
            android:name=".contact.NewContactSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name=".contact.ChooseContactsActivity" />
        <activity
            android:name=".contact.FriendRequestActivity"
            android:label="@string/title_activity_friend_request"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- Profile -->
        <activity
            android:screenOrientation="portrait"
            android:name=".ezprofile.EditProfileActivity"
            android:label="@string/title_edit_profile"
            android:theme="@style/AppTheme"
            android:title="Edit Profile" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ezprofile.ImageUploadActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ezprofile.CameraUploadActivity" />

        <!-- Chat -->
        <activity
            android:screenOrientation="portrait"
            android:name=".ezchat.ChatActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ezchat.ImageSendingActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ezchat.incomingCall"
            android:noHistory="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ezchat.Calling"
            android:launchMode="singleInstance"/>


        <!-- EZ Direction -->
        <activity
            android:screenOrientation="portrait"
            android:name=".ezdirection.EZDirectionActivity"
            android:label="@string/title_activity_ezdirection"
            android:theme="@style/AppTheme" />


        <!-- Utilities -->
        <service
            android:name=".ezchat.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- QR Code -->
        <activity
            android:name=".qrcode.QRCodeActivity"
            android:theme="@style/AppTheme.PopMe"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".qrcode.QRCode"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:screenOrientation="portrait"
            android:name=".qrcode.qrCodeScanner"
            android:label="@string/title_activity_qr_code_scanner"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".qrcode.ScanBarcodeActivity"
            android:label="Scan Barcode" />

        <!-- Group Chat -->
        <activity
            android:name=".ezchat.GroupchatActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>